# 1. Problem:

“How can I optimize my listing to attract more bookings and maximize revenue?”

# Causes for Analysis:

Understand pricing trends to remain competitive.

Identify high-demand neighborhoods.

See how availability and minimum nights affect reviews and bookings.

Learn from top-performing listings (e.g., review patterns, room types).

In [43]:
import sys
from pathlib import Path
import pandas as pd

sys.path.append(str(Path.cwd().parent))
import config

In [44]:

listing.head(30)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,2595,Skylit Midtown Castle Sanctuary,2845,Jennifer,Manhattan,Midtown,40.753560,-73.985590,Entire home/apt,NaN,30,49,2022-06-21,0.26,3,365,0,NaN
1,6848,Only 2 stops to Manhattan studio,15991,Allen & Irina,Brooklyn,Williamsburg,40.709350,-73.953420,Entire home/apt,96.0,30,194,2024-10-05,1.01,1,173,3,NaN
2,6872,Uptown Sanctuary w/ Private Bath (Month to Month),16104,Kahshanna,Manhattan,East Harlem,40.801070,-73.942550,Private room,59.0,30,1,2022-06-05,0.03,2,83,0,NaN
3,6990,UES Beautiful Blue Room,16800,Cyn,Manhattan,East Harlem,40.787780,-73.947590,Private room,67.0,30,251,2024-12-01,1.34,1,264,5,NaN
4,7064,"Amazing location! Wburg. Large, bright & tranquil",17297,Joelle,Brooklyn,Williamsburg,40.712480,-73.958810,Private room,NaN,30,13,2022-09-12,0.07,2,0,0,NaN
5,7097,"Perfect for Your Parents, With Garden & Patio",17571,Jane,Brooklyn,Fort Greene,40.691940,-73.973890,Private room,195.0,2,398,2025-02-28,2.16,2,190,36,OSE-STRREG-0000008
6,7801,Sunny Williamsburg Loft with Sauna,21207,Chaya,Brooklyn,Williamsburg,40.718807,-73.956177,Entire home/apt,290.0,30,13,2024-07-31,0.07,1,0,1,NaN
7,8490,"Maison des Sirenes1,bohemian, luminous apartment",25183,Nathalie,Brooklyn,Bedford-Stuyvesant,40.684556,-73.939634,Entire home/apt,216.0,30,190,2023-10-16,1.01,2,150,0,NaN
8,9357,Midtown Pied-a-terre,30193,Tommi Laurelle,Manhattan,Hell's Kitchen,40.767240,-73.986640,Entire home/apt,175.0,30,58,2017-08-13,0.31,1,0,0,NaN
9,10452,Radiant Oasis B&B Style room,35935,Angela,Brooklyn,Bedford-Stuyvesant,40.682940,-73.956820,Private room,90.0,30,81,2024-08-19,0.45,6,137,1,NaN
10,11943,Country space in the city,45445,Harriet,Brooklyn,Flatbush,40.637020,-73.963270,Private room,NaN,30,0,NaN,NaN,1,0,0,NaN
11,12192,ENJOY Downtown NYC!,46978,Edward,Manhattan,East Village,40.722960,-73.983830,Private room,NaN,30,317,2025-01-01,1.70,2,30,1,NaN
12,12940,Charming Brownstone 3 - Near PRATT,50148,Adreinne,Brooklyn,Bedford-Stuyvesant,40.679460,-73.954170,Entire home/apt,110.0,30,80,2025-01-06,0.43,1,110,5,NaN
13,14314,Greenpoint Place...Has It All!,56246,Jeanne,Brooklyn,Greenpoint,40.735350,-73.955840,Entire home/apt,115.0,30,179,2024-09-30,0.97,1,303,2,NaN
14,15341,* Lovely Nolita 1Bdrm w Elevator and 24hr Door...,60049,Ted,Manhattan,Lower East Side,40.721359,-73.993668,Entire home/apt,169.0,30,40,2024-12-02,0.29,1,90,3,NaN
15,15385,"Very, very cozy place",60252,Maria C,Brooklyn,Williamsburg,40.712110,-73.963970,Private room,97.0,30,60,2025-01-31,0.33,1,206,3,NaN
16,15396,Sunny & Spacious Chelsea Apartment,60278,Petra,Manhattan,Chelsea,40.744930,-73.995210,Entire home/apt,NaN,180,5,2018-11-03,0.05,1,129,0,NaN
17,16580,"Sunny, Modern room in East Village w City Views",64442,Reka,Manhattan,East Village,40.723727,-73.976259,Private room,109.0,1,620,2025-02-15,4.42,2,118,68,OSE-STRREG-0000108
18,16821,Charming Room in Amazing East Village Apt. (B),4396,Casey,Manhattan,East Village,40.722810,-73.985010,Private room,136.0,1,244,2025-01-30,1.60,2,50,56,OSE-STRREG-0001710
19,16974,SpaHa Loft: Enormous and Bright,65837,Robin,Manhattan,East Harlem,40.801900,-73.937620,Entire home/apt,300.0,30,291,2023-09-05,1.58,1,57,0,NaN
20,17037,Lovely EV Artist's Home,66035,Anna,Manhattan,East Village,40.722890,-73.980280,Entire home/apt,230.0,30,54,2024-06-06,0.30,1,177,1,NaN
21,18152,Manhattan Room,69942,Victoria,Manhattan,Upper East Side,40.769670,-73.948310,Private room,70.0,30,147,2019-09-01,0.90,1,354,0,NaN
22,18728,Beautiful Meatpacking District Loft,71876,DAVID And RICK,Manhattan,Chelsea,40.742610,-74.003530,Private room,150.0,30,250,2024-11-15,1.47,1,263,4,NaN
23,18961,Cozy Studio in Great Location!,70857,Fabian,Manhattan,Kips Bay,40.738080,-73.980010,Private room,NaN,30,1,2016-03-22,0.01,1,0,0,NaN
24,19174,One bedroom Duplex Private Terrace West Village,73164,Alexis,Manhattan,West Village,40.739170,-74.002070,Entire home/apt,200.0,90,68,2024-12-27,0.38,1,300,1,NaN
25,19282,"Sunny, Spacious Top Floor Haven",73469,Djassi,Brooklyn,Flatbush,40.654370,-73.962780,Private room,94.0,30,16,2019-07-20,0.09,1,88,0,NaN
26,19812,2 bedroom Williamsburg Apt - Bedford L stop,74857,Starlee,Brooklyn,Williamsburg,40.718020,-73.957240,Entire home/apt,NaN,30,59,2018-07-29,0.32,1,227,0,NaN
27,20913,Charming 1 bed GR8 WBurg LOCATION!,79402,Christiana,Brooklyn,Williamsburg,40.709670,-73.959220,Entire home/apt,NaN,30,165,2018-07-22,0.94,1,0,0,NaN
28,21644,"Upper Manhattan, New York",82685,Elliott,Manhattan,Harlem,40.827820,-73.947300,Private room,NaN,30,3,2019-10-21,0.04,1,0,0,NaN
29,21794,COZY QUIET monthly room 4 DOOGLERS!,83257,Olan,Manhattan,Chelsea,40.741870,-74.002230,Private room,85.0,30,36,2020-01-19,0.20,2,364,0,NaN

In [45]:
listing.shape

(37434, 18)

In [46]:
listing.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'number_of_reviews_ltm', 'license'],
      dtype='object')

In [47]:
listing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37434 entries, 0 to 37433
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              37434 non-null  int64
 1   name                            37432 non-null  object
 2   host_id                         37434 non-null  int64
 3   host_name                       37396 non-null  object
 4   neighbourhood_group             37434 non-null  object
 5   neighbourhood                   37434 non-null  object
 6   latitude                        37434 non-null  float64
 7   longitude                       37434 non-null  float64
 8   room_type                       37434 non-null  object
 9   price                           22308 non-null  float64
 10  minimum_nights                  37434 non-null  int64
 11  number_of_reviews               37434 non-null  int64
 12  last_review                     25647 non-null  object
 13  reviews_per_month               25647 non-null  float64
 14  calculated_host_listings_count  37434 non-null  int64
 15  availability_365                37434 non-null  int64
 16  number_of_reviews_ltm           37434 non-null  int64
 17  license                         5369 non-null   object
dtypes: float64(4), int64(7), object(7)
memory usage: 5.1+ MB

In [48]:
listing.isnull().sum()

id                                    0
name                                  2
host_id                               0
host_name                            38
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                             15126
minimum_nights                        0
number_of_reviews                     0
last_review                       11787
reviews_per_month                 11787
calculated_host_listings_count        0
availability_365                      0
number_of_reviews_ltm                 0
license                           32065
dtype: int64